<h2>All Notes</h2>
<div class="notice"><%= flash[:notice] %></div>
<ul class="notes">
    <% @notes.each do |note| %>
        <li class="<%= note.note_type %>">
            <%= link_to note.content, note_path(note) %>
            <% if note.due %>
            <%= note.due.month %>/<%= note.due.day%>
            <%end%>
        </li>
    <%end%>
</ul>
<%= link_to "New", new_note_path%>