<h2 class="new">New Note</h2>

<%= form_for @note do |f| %>
    <div class="new">
        <%= f.text_field :content %>
    </div>
    <div class="new">
        <%= f.radio_button :note_type, "task" %>
        <%= label :note_type_task, "Task" %>
        <%= f.radio_button :note_type, "event" %>
        <%= label :note_type_event, "Event" %>
        <%= f.radio_button :note_type, "note" %>
        <%= label :note_type_note, "Note" %>
    </div>
    <div class="new">
        Due:
        <%= select_date Date.today, prefix: :due_date %>
    </div>
    <div class="new">
        <%= check_box_tag :complete %>
        <%= label_tag(:complete, "Complete") %>
    </div>
    <span class="new"><%= f.submit "Add", class: 'btn btn-success' %></span>
<% end %>
<span class="new"><%= link_to "Back", notes_path %></span>