<div class="new">
    <h2><%=@habit.name%></h2>
    <%= form_for @habit do |f| %>
            <%= f.label 'Habit' %>
            <%= f.text_field(:name)%>
    <div class="week">
        <%= week_calendar number_of_weeks: 1 do |date| %>
            <%=date.month%>/<%= date.day %>
            <br>
            <%=check_box_tag('day_complete[]', date, checked = @habit.dates.include?(date))%>
        <% end %>
    </div>
    <%= f.submit "Update", class: 'btn btn-success' %>
    <% end %>
</div>